outputs_backup
reacher_env
.idea/*
data/*
__pycache__/
venv/
.DS_Store
outputs/
plots
temp
._.DS_Store
._README.md
._requirements.txt
._setup.py
._*
/env/
latentsafesets.egg-info/
results/
remote_login.sh
sshfs_init.sh
speedtest.py
nohup.out
dgx_login.sh
dgx_sshfs_init.sh
temp.txt
data_images
*.out
data_raw
plotting/*.pdf
plotting/data
default
scripts/default
scripts/outputs
awac_data
ant.pdf
plot_data
dgx_umount.sh
umount_sshfs.sh
dmc2gym/dmc2gym.egg-info/
